.skdk-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-wrap: nowrap;
  min-height: calc(100vh - 6rem);
  align-items: center;
  width: 100%;
  padding: 0.75rem;

  @apply m-auto rounded-lg bg-primary  dark:bg-black;
  @screen sm {
    padding: 4rem;
  }
}

.color-mode-toggle {
  @apply absolute right-3 top-3;
}

.connect-btn {
  @apply absolute left-3 top-3 rounded-md bg-skdk px-2 py-1 text-xs text-primary;
}

.page-title {
  @apply my-8 flex flex-col items-center;
  h1 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-sm font-medium;
  }
  @screen sm {
    h1 {
      @apply text-5xl;
    }

    h3 {
      @apply text-xl;
    }
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  padding: 0;
  @apply border-[0.2rem] border-skdk;

  &.active {
    .item-inner-container {
      display: flex;
    }
  }

  header {
    @apply m-3 flex cursor-pointer items-center justify-between #{!important};
    div {
      @apply flex gap-1;
      h1 {
        @apply font-82XC text-3xl sm:text-6xl;
      }
      h3 {
        @apply font-82ND text-sm sm:text-2xl;
      }
    }
    span {
      @apply font-74MR mr-4 -rotate-90 text-4xl sm:text-7xl;
    }
  }

  .item-inner-container {
    display: none;
  }

  @screen md {
    @apply p-3;
  }
}

.log-container {
  @apply flex flex-col gap-4;
}
.log-header {
  @apply flex justify-between gap-2 overflow-x-scroll px-3 sm:px-6;
  &::-webkit-scrollbar {
    @apply hidden;
  }
  .log-levels {
    @apply flex h-full gap-2 text-nowrap;
  }
  .log-toggles {
    @apply flex gap-2;
  }
  button {
    @apply flex items-center gap-1 rounded-full border-2 border-skdk px-3 py-1 sm:px-6 dark:text-primary;
    &.active {
      @apply bg-skdk text-primary;
    }
  }
}

.log-color-indicator {
  @apply inline-block h-3 w-3 rounded-full;
}

.log-console {
  @apply mx-3 h-96 flex-col  overflow-hidden  overflow-x-auto bg-secondary p-4 text-xs sm:px-8 dark:bg-skdk;
  ol {
    @apply h-full min-w-fit  overflow-y-auto pb-3 pr-3;
    &::-webkit-scrollbar {
      @apply w-3 rounded-lg bg-primary;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-lg bg-skdk dark:bg-secondary;
    }
    &::-webkit-scrollbar-corner {
      display: none;
    }
    li {
      @apply flex flex-row justify-between p-2;
      &:nth-last-child(odd) {
        @apply bg-primary bg-opacity-25;
      }
      div {
        @apply flex flex-row items-center gap-2;
        .log-console-time {
          @apply text-primary;
        }
        .log-console-msg {
          @apply text-white;
        }
      }
      .log-console-origin {
        @apply ml-4 text-[10px] dark:text-gray-300;
      }
    }
  }
}
