@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "82XC";
    src: url("./assets/fonts/futr/82xc.ttf");
    font-weight: 400;
    font-style: normal;
  }

  .font-82XC {
    font-family: "82XC";
    letter-spacing: 3px !important;
  }

  @font-face {
    font-family: "82ND";
    src: url("./assets/fonts/futr/82nd.otf");
    font-weight: 400;
    font-style: normal;
  }

  .font-82ND {
    font-family: "82ND";
    letter-spacing: 3px !important;
  }

  @font-face {
    font-family: "74MR";
    src: url("./assets/fonts/futr/74mr.otf");
  }

  .font-74MR {
    font-family: "74MR";
  }

  @font-face {
    font-family: "44ND";
    src: url("./assets/fonts/futr/44nd.otf");
  }

  .font-44ND {
    font-family: "44ND";
  }

  h1 {
    @apply text-5xl;
  }
}

body {
  @apply w-full items-center overflow-scroll bg-white p-2 text-skdk md:p-4 lg:p-12 dark:bg-zinc-900 dark:text-secondary;
}

#root {
  @apply flex h-full w-full flex-col items-center overflow-hidden;
}

.btn {
  @apply bg-skdk px-4 py-2 text-primary;
  &.btn-disabled {
    @apply cursor-not-allowed bg-gray-400 text-gray-500;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
