.form-control {
  align-items: start !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

input[type="number"] {
  background: var(--fallback-bc, oklch(var(--bc) / 1));
  border: 2px var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));

  color: black;
}

input[type="checkbox"] {
  --tglbg: var(--fallback-bc, oklch(var(--bc) / 1));
  --handleoffset: 1.5rem;
  background: var(--fallback-b1, oklch(var(--b1) / 1));

  &:hover {
    background: var(--fallback-b1, oklch(var(--b1) / 1));
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--fallback-b1, oklch(var(--b1) / 0.8));
  border-radius: 0;
  border: 0;
}

input[type="color"] {
  background: var(--fallback-bc, oklch(var(--bc) / 1));
}
